// Body
$body-bg: #E3E3E3;
$sg-gradient: linear-gradient(90deg, rgba(49,22,113,1) 0%, rgba(74,32,117,1) 49%, rgba(118,69,140,1) 100%);
$sg-color-dark-purple: rgb(49,22,113);
$sg-color-medium-purple: rgb(74,32,117);
$sg-color-light-purple: rgb(98, 50, 121);
$sg-color-lighter-purple: rgb(163, 80, 202);
$sg-color-button-purple: rgb(114, 26, 165);
$border-radius-main: 2rem;
$box-shadow-main: 0px 8px 15px rgba(0, 0, 0, 0.2);
$text-shadow-main: 0px 8px 8px rgba(0, 0, 0, 0.2);

// Typography
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
