// Body
$body-bg: #E3E3E3;
$sg-gradient: linear-gradient(90deg, rgba(49,22,113,1) 0%, rgba(74,32,117,1) 49%, rgba(118,69,140,1) 100%);
$sg-dark-purple: rgb(49,22,113);
$sg-medium-purple: rgb(74,32,117);
$sg-light-purple: rgb(98, 50, 121);
$sg-lighter-purple: rgb(163, 80, 202);
$sg-button-purple: rgb(114, 26, 165);

// Typography
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
