.button-custom {
    background: $sg-color-button-purple;
    color: white;
    border-radius: $border-radius-main;
    border-style: none;
    font-weight: 800;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.375s ease-in-out;

    &:hover {
        background: $sg-color-lighter-purple;
    }
}

.button-add-new {
    &-artist, &-place {
        width: 20rem;
        height: 2.5rem;
        box-shadow: none;
    }
}

.close {
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
}

.admin-panel button {
    background: transparent;
    outline: none;
    border: none;
    color: $sg-color-dark-purple;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        color: $sg-color-lighter-purple;
    }
}

.invitation-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    z-index: 200;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;

    & button {
        background: white;
        opacity: 0.9;
        padding: 0.5rem;
        color: $sg-color-dark-purple;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 2rem;
        border-style: none;
    }
}