.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 100%;
    width: calc(100% - 8rem);
    margin: 4rem auto;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.event {
    &-dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        max-width: 100%;
        width: calc(100% - 5rem);
        margin: 4rem auto;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &-box {
        .event-thumbnail {

        }
    
        .event-title {
        }
    
        .event-date {
            z-index: 200;
            color: white;
            text-shadow: $text-shadow-main;
            font-size: 1.5rem;
            margin-bottom: 0;
            position: relative;
            bottom: 0;
            left: 0;
        }

        .event-book {
            width: 10rem;
            height: 3rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            z-index: 100;
        }

        &:hover .event-book{ 
            display: block;
        }
    }
}

.invitation {
    &-dashboard {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        max-width: 100%;
        margin: 2rem auto 4rem auto;
    }

    &-single {
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(48, 48, 48);
        position: relative;

        &-content {
            bottom: 0;
            left: 0;
            padding: 1rem 1.75rem;
            width: 100%;
        }

        &-place-thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius-main;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
            opacity: 0.4;
        }

        &-title {
            color: white;
            text-shadow: $text-shadow-main;
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 1rem;
            position: relative;
            z-index: 200;
        }

        &-message {
            color: white;
            text-shadow: $text-shadow-main;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0;
            position: relative;
            z-index: 200;
        }
    }

    
}

.my-profile-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 100%;
    width: calc(100% - 8rem);
    margin: 2rem auto;
}