.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 100%;
    width: calc(100% - 8rem);
    margin: 4rem auto;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.event {
    &-dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        max-width: 100%;
        width: calc(100% - 5rem);
        margin: 4rem auto;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    &-box {
        .event-thumbnail {

        }
    
        .event-title {
        }
    
        .event-date {
            z-index: 200;
            color: white;
            text-shadow: $text-shadow-main;
            font-size: 1.5rem;
            margin-bottom: 0;
            position: relative;
            bottom: 0;
            left: 0;
        }

        .event-book {
            width: 10rem;
            height: 3rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            z-index: 100;
        }

        &:hover .event-book{ 
            display: block;
        }
    }
}

.my-profile-dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 100%;
    width: calc(100% - 8rem);
    margin: 2rem auto;
}