.footer {
    background: $sg-gradient;
    font-family: $font-family-roboto;
    font-weight: 600;

    &_for-more {
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    &_social-media {
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
    }

    .social-media-icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    &_copyright {
        margin-top: 1.5rem;
        margin-bottom: -0.25rem;
        font-size: 15px;
    }

    @media (max-width: 640px) {

        &_for-more {
            font-size: 1rem;
        }

        .social-media-icon {
            height: 2rem;
            width: 2rem;
        }

        &_copyright {
            margin-top: 1.5rem;
            margin-bottom: -0.25rem;
            font-size: 12px;
        }
    }
}