body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    .stargaze-logo {
        height: 3rem;
    }

    .sg-nav-link {
        color: $sg-color-medium-purple;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.15s ease-in-out;
        font-size: 1rem;
        font-weight: 500;

        &:hover{
            color: $sg-color-lighter-purple;
        }
    }

    #navbar {
        gap: 2.5rem !important;
    }
}