.header {
    font-family: $font-family-roboto;

    .stargaze-logo {
        height: 3rem;
    }

    .sg-nav-link {
        color: $sg-color-medium-purple;
        text-decoration: none;
        transition: 0.15s ease-in-out;
        font-size: 1.25rem;

        &:hover{
            color: $sg-color-lighter-purple;
        }
    }

    #navbar {
        gap: 2.5rem !important;
    }
}